*{
    margin: 0%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header{
    background-color: #FFD900;
   
}

#logoccxp{
    margin-top: 27px;
    margin-left: 58px;
    margin-bottom: 27px;
}

#part_two{
    display: flex;

}

#epic{
    color: #FFD900;
    line-height: 85.07px;
    font-weight: 700;
    font-size: 70px;
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

#dataText{
    display: flex;
    justify-content: center;
    font-weight: 700;
    font-size: 30px;
    margin-bottom: 3rem;
}
#text01{
    width: 678px;
    font-size: 27px;
    display: flex;
    text-align: center;
    justify-content: center;
    
}

#text_part{
    background-color: #514988;
    color: #ffff;
    width:802px;
    height: 650px;
}

#part_three{
   
    width: 100%
}

.count-down{
    color: #514988;
    font-size: 55px;
   margin-top: 15px;
    display: grid;
    grid-auto-flow: column;
    margin-left: 1rem;
    margin-right: 1rem;
}

#legend-count-down{
    color: #E33881;
    display: flex;
    justify-content: space-evenly;
    font-weight: 700;
    font-size: 23px;
    line-height: 36px;
   margin-left: 2rem;
}

#harleyqueen{
    display: flex;
    justify-content: space-evenly;
    margin-left: 1rem;
}

#footer-frase{
    color: #FFD900;
    font-weight: 600;
    font-size: 27px;
    margin-left: 3rem;
    margin-top: 1rem;
    margin-bottom: 1rem;

}

footer{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 3rem;

}


#botao{
    color: white;
    font-size: 42px;
    font-weight: 600;
    background-color: #514988;
    width: 500px;
    height: 130px;
    border-radius: 20px;
    border-style: none;
    cursor: pointer;
}
#botao:hover{
    color: #FFD900;
}
.card-highlight{
    box-shadow: 5px 5px grey;
}

.card-selected{
      border: 7px solid yellow;  
}
input{
    background-color: #514988;
    border-radius: 10px;
    color: #ffff;
    border: 0pt;
    margin: 30px;
    width: 300px;
    height: 70px;
    font-size: 30px;
}
#form{
    background-color: #FFD900;
}

